
*{
  margin: 0;
  padding: 1;
  list-style: none;   
 }
body{
  position: relative;
  top: -0.7em;
  top: -0.7em;
  font-size: 1.4em;
  padding: 0 0.3em;
  background-color: #fff;
    
 }
 body{
  border-top: medium dashed black;
  border-bottom: medium dashed black;
  height: 5px;
  overflow: visible;
  padding: 0;
  text-align: center;
  }
  

